{% extends "layouts/layoutapp.html" %}

{% block title %}
insert noticias
{% endblock %}
{% block style %}


.a {
    color: #000000;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}

.h1 {
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

form {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.center {
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }
  .verde {
    background-color: green; /* Cambia el color de fondo a verde */
    color: white; /* Cambia el color del texto a blanco para mayor contraste */
  }

  .rojo {
    background-color: red; /* Cambia el color de fondo a rojo */
    color: white; /* Cambia el color del texto a blanco para mayor contraste */
  }
{%endblock%}


{% block content %}

<div id="container">
<h2>Actualizar Informacion</h2>

<p>Recuerda asegurarte de que la informacion a cambiar sea correcta, puesto que implica documentos
    legales y las calificaciones del sistema (En caso de que la informacion sea incorrecta no se tendra
    acceso a las boletas y al historial academico)
</p>

<form id="actualizar info" action="/actualizar_info" method="post">
  <label for="curp">CURP existente:</label>
  <input type="text" id="curp" name="A0" required value=" {{parametros['curp']}}">
  <label for="grado">Grado:</label>
  <select id="grado" name="A1">
    <option value="1" {% if parametros['grado'] == "1" %} selected {% endif %}>1</option>
    <option value="2" {% if parametros['grado'] == "2" %} selected {% endif %}>2</option>
    <option value="3" {% if parametros['grado'] == "3" %} selected {% endif %}>3</option>
    <option value="4" {% if parametros['grado'] == "4" %} selected {% endif %}>4</option>
    <option value="5" {% if parametros['grado'] == "5" %} selected {% endif %}>5</option>
    <option value="6" {% if parametros['grado'] == "6" %} selected {% endif %}>6</option>
  </select>

  <label for="grupo">Grupo:</label>
  <select id="grupo" name="A2">
    {% for grupo in grupos %}
      <option value="{{grupo[0]}}" {% if parametros['grupo'] == grupo[1] %} selected {% endif %}>{{grupo[1]}}</option>
    {% endfor %}
  </select>
  <p>Una vez actualizados los datos se cerrara sesion para actualizar la base de datos y la sesion a los datos correctos</p>
  <input type="submit" value="Actualizar Datos">
</form>
</div>

{% endblock %}