{% extends "layouts/layoutapp.html" %}

{% block style %}

#container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top:10px;
  }
  
  #profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  h2 {
    color: #3498db;
  }
  
  p {
    margin: 10px 0;
    color: #555;
  }
  
  #logout-link {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  #logout-link:hover {
    background-color: #2c3e50;
  }





  h2 {
    color: #333;
  }
  
  form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }


  
  
  .g {
    background-color: #2980b9;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
  }
  
  .g:hover {
    background-color: #216795; /* Cambia el color al pasar el mouse */
  }
  
{% endblock %}

{% block content %}

<div id="container">
    <img id="profile-picture" src="{{parametros['picture']}}" alt="Foto de perfil">
    <h2>Nombre: {{parametros['name']}}</h2>
    <p>Correo:{{parametros['email']}}</p>
    <p>Grado y Grupo: {{parametros['grado']}}{{parametros['grupo'] }}</p>
    <p>Plantel: {{parametros['hd']}}</p>
    <p>CURP: {{parametros['curp']}}</p>
    <a id="logout-link" href="/logout">Cerrar sesión </a>
</div>
<div class="container">
  <a href="/actualizar_info" class="g">Actualizar Info</a>
</div>
</div>

{% endblock %}