{% extends "layouts/layoutapp.html" %}

{% block title %}
INICIO
{% endblock %}
{% block style %}
.calendario-responsive {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%; /* Puedes ajustar este valor según tus necesidades para controlar la relación de aspecto */
    margin-top:20px;
    
}

.calendario-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    border: 0;
    border-radius:30px;
}
/* Estilo básico para la horario */
.horario {
  width: 100%;
  height: auto; /* Para mantener la proporción de la imagen */
  display: block; /* Elimina el espacio adicional debajo de la imagen */
  margin: 0 auto; /* Centra la imagen en su contenedor si es necesario */
  max-width: 100%; /* Garantiza que la imagen no sea más grande que su contenedor */
}

{% endblock %}



{% block content %}
<h1>Horaio <strong>{{parametros['grado']}}{{parametros['grupo']}}</strong></h1>
<img  class="horario"  src="https://github.com/Yael200206/EduLife-pdf/blob/main/pdf/horarios/img/{{parametros['grado']}}{{parametros['grupo']}}.pdf.png?raw=true">
    <a href="\horarios\{{archivo}}" download="{{archivo}}.pdf">
        
        Descargar PDF
    </a>

<div class='item'>
    <div class="calendario-responsive">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FMexico_City&showTitle=1&showNav=1&showPrint=0&showTabs=0&showCalendars=0&hl=es&showTz=0&src=OTkyY2NlYzZjZWUyYTBhY2M3OGE1MjU2MmRmZGU5MGQwYzMwOGE1ODI5ZTYyNjI0MmU3ZDEzMjdkMDBlZWZkMkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZXMubWV4aWNhbiNob2xpZGF5QGdyb3VwLnYuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23039BE5&color=%230B8043" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</div> 
{% endblock %}