{% extends "layouts/layoutapp.html" %}


{% block title %}
INICIO
{% endblock %}


{% block style %}
iframe {
    width: 100%;
    height: 100vh; /* 100% de la altura de la ventana visible */
    border: 0; /* Eliminar el borde del iframe */
  }
{% endblock %}



{% block content %}
<div id="web-view-container"></div>

<script>
    // URL de la página web externa que quieres mostrar
    var url = 'https://www.google.com';

    // Función para cargar el contenido de la página web externa y mostrarlo en tu página
    function cargarWebView(url, contenedor) {
        fetch(url)
            .then(response => response.text())
            .then(data => {
                contenedor.innerHTML = data;
            })
            .catch(error => {
                console.error('Error al cargar la página web:', error);
            });
    }

    // Obtén el contenedor donde deseas mostrar la página web
    var contenedorWebView = document.getElementById('web-view-container');

    // Llama a la función para cargar el contenido de la página web externa
    cargarWebView(url, contenedorWebView);
</script>
{% endblock %}