{% extends "layouts/layoutapp.html" %}

{% block title %}
INICIO
{% endblock %}
{% block style %}

.noticias {
    max-width: 800px;
    width: 100%;
}

.noticia {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.h2 {
    color: #333;
}

.p {
    color: #666;
}

.img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}




{% endblock %}

{% block content %}

<div class="noticias">
    {% for noticia in noticias %}
    <div class="noticia">
        <h2 class='h2'>{{ noticia.1 }}</h2>
        {% if noticia.3 %}
            <img class='img' src={{ noticia.3 }} alt="Imagen de la noticia">
        {% endif %}
        <p class="p"> {{ noticia.4 }}</p>
        <p class="p">{{ noticia.2 }}</p>
    </div>
    {% endfor %}
</div>


{% endblock %}