{% extends "layouts/layoutapp.html" %}

{% block title %}
INICIO
{% endblock %}
{% block style %}

.card {
    max-width: 100%;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    margin-top:50px;
}



.h2 {
    background-color: #3498db;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}

.card-body {
    padding: 20px;
}

.card-body p {
    margin: 8px 0;
}



h6 {
    color: #3498db; /* Color azul */
    font-size: 1.5em; /* Tamaño del texto */
    font-weight: bold; /* Negrita */
    margin-top: 10px; /* Espacio inferior */

  }

  .menu-btn-container {
    position: fixed;
    top: 70px;
    right: 40px; /* Ajusta la distancia desde la derecha según tus necesidades */
    text-align: right;
    padding: 20px;
    height: 100vh; /* Añade esta línea para que tenga el alto de la pantalla */
  }
  
  .menu-btn {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .menu {
    display: none;
    position: absolute;
    height: 80vh; /* Mantiene el alto completo de la pantalla */
    top: 20px;
    right: 0;
    background-color: #3498db;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: auto; /* Permite el desplazamiento interno si el contenido es más grande */

  }
  .menu::-webkit-scrollbar {
    width: 0.1em;
  }
.menu.active {
  display: block;
}

.menu a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menu a:hover {
  background-color: #2980b9;
}
  .XD{
    margin-top:10%;
  }


{% endblock %}


{% block content %}

{% if "155" in parametros['hd']%}

<div class="contenedor">
    <div class="menu-btn-container">
        <div class="menu-btn">Buscar
        <div class="menu">
            <a href="#direccion">Direccion</a>
            <a href="#subdireccion">Subdireccion</a>
            <a href="#serviciosdocentes">Servicios Docente</a>
            <a href="#encargadoslavoratorios">Laboratorios</a>
            <a href="#vinculacion">Vinculacion</a>
            <a href="#servicioescolar">Servicio Escolar</a>
            <a href="#controlescolar">Control Escolar</a>
            <a href="#orientacioneducativa">Orientacion Academica</a>
            <a href="#trabajosocial">Trabajo Social</a>
            <a href="#serviciosadministrativos">Servicio Administrativo</a>
            <a href="#prefectura">prefectura</a>
            <a href="#">Recursos materiales</a>
            <a href="#recursosfinancieros">Recusros inancieros</a>
            <a href="#planificacion">planificacion</a>
            <h6 id="direccion" class="XD">DIRECCION</h6>
            
        </div>
        </div>
    </div>
</div>

<h6 >DIRECCION</h6>
<div class="card">
    <div class="card-body">
        <h2 class="h2">DIRECTORA</h2>
        <p><strong>Nombre:</strong> AMIRA IVETTE JAUREGUI PEREZ</p>
        <p><strong>Correo:</strong> cetis155.dir@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4499708055</p>
        <br>
        <h2 class="h2">SECRETARIA DE LA DIRECCION T.M. </h2>
        <p><strong>Nombre:</strong> DEL REAL ORDENDAY MARIA GABRIELA</p>
        <p><strong>Correo:</strong> mariagabriela.delreal.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4492420401</p>
        <br>
        <h2 class="h2">SECRETARIA DE LA DIRECCION T.V. </h2>
        <p id="subdireccion"><strong>Nombre:</strong> AZUA DELGADO FABIOLA HASSEL</p>
        <p><strong>Correo:</strong> fabiolaheyssel.azua.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 44919911586</p>
    </div>
</div>

<div class="div-lado-a-lado"></div>
  
<h6 >SUBDIRECCION</h6>

<div class="card">
    <div class="card-body">
        <h2 class="h2">SUBDIRECTORA ACADEMICA</h2>
        <p><strong>Nombre:</strong> FLORES RUIZ VERONICA DEL ROCIO BELEN</p>
        <p><strong>Correo:</strong> veronicadelrociobelen.flores.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4499708050</p>
        <br>
        <h2 class="h2">SECRETARIA DE LA SUBDIRECCION T.M. </h2>
        <p><strong>Nombre:</strong> BERCENAS LOPEZ GLORIA MASARELLO</p>
        <p><strong>Correo:</strong> gloriamasarelo.bercenas.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4491881243</p>
        <br>
        <h2 class="h2">SECRETARIA DE LA SUBDIRECCION T.V. </h2>
        <p id="serviciosdocentes"><strong>Nombre:</strong> MARTINEZ LOPEZ KAREN LIZETTE</p>
        <p><strong>Correo:</strong> karenlizeth.martinez.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 449156229</p>
    </div>
</div>
<br>
<div class="div-lado-a-lado"></div>

<h6 >SERVICIOS DOCENTES</h6>

<div class="card">
    <div class="card-body">
        <h2 class="h2">JEFE DE DEPARTAMENTO DE SERVICIOS DOCENTES T.M</h2>
        <p><strong>Nombre:</strong> REYES MEDINA SILVIA</p>
        <p><strong>Correo:</strong> silvia.reyes.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4491193666</p>
        <br>
        <h2 class="h2">JEFE DE DEPARTAMENTO DE SERVICIOS DOCENTES T.V </h2>
        <p><strong>Nombre:</strong> RODRIGUEZ TAPIA BERNARDO</p>
        <p><strong>Correo:</strong> bernardo.rodriguez.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4491159348</p>
        <br>
        <h2 class="h2">SECRETARIA DEL DEPARTAMENTO DE SERVICIOS DOCENTES T.M </h2>
        <p><strong>Nombre:</strong> FEMAT BERNAL MA LAURA ELENA</p>
        <p><strong>Correo:</strong> ma.lauraelena.femat.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4493971541</p>
        <br>
        <h2 class="h2">SECRETARIO DEL DEPARTAMENTO DE SERVICIOS DOCENTES T.V</h2>
        <p id="encargadoslavoratorios"><strong>Nombre:</strong> RAMOS ROSALES HUGO ALEJANDRO</p>
        <p><strong>Correo:</strong> hugoalejandro.ramos.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4491571322</p>
    </div>
</div>
<br>
<div class="div-lado-a-lado"></div>
<h6>ENCARGADOS LAVORATORIOS</h6>

<div class="card">
    <div class="card-body">
        <h2 class="h2">ENCARGADA DE LABORATORIO NO. 2 Y 3 T.M</h2>
        <p><strong>Nombre:</strong> LUEVANO ZUÑIGA MARIA DOLORES</p>
        <p><strong>Correo:</strong> mariadolores.luevano.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4493539048</p>
        <br>
        <h2 class="h2">ENCARGADO DEL TALLER DE MTTO. AUTOMOTRIZ T.V.  </h2>
        <p><strong>Nombre:</strong>RAZO CHÁVEZ ALFREDO</p>
        <p><strong>Correo:</strong> alfredoantonio.razo.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4491159348</p>
        <br>
        <h2 class="h2">ENCARGADO DEL LABORATORIO DE CÓMPUTO NO. 1 T.V</h2>
        <p><strong>Nombre:</strong> ANTUNEZ SANCHEZ VICTOR HUGO</p>
        <p><strong>Correo:</strong> victorhugo.atunez.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4491958704</p>
        <br>
        <h2 class="h2">SECRETARIO DEL DEPARTAMENTO DE SERVICIOS DOCENTES T.V</h2>
        <p id="servicioescolar"><strong>Nombre:</strong> RAMOS ROSALES HUGO ALEJANDRO</p>
        <p><strong>Correo:</strong> hugoalejandro.ramos.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4491571322</p>
    </div>
</div>
<br>
<div class="div-lado-a-lado"></div>
<h6>SERVICIOS ESCOLARES</h6>

<div class="card">
    <div class="card-body">
        <h2 class="h2">JEFA DEL DEPARTAMENTO DE SERVICIOS ESCOLARES T.M. </h2>
        <p><strong>Nombre:</strong> HILDA LUEVANO ZÚÑIGA</p>
        <p><strong>Correo:</strong> hilda.luevano.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4495490439</p>
        <br>
        <h2 class="h2">JEFA DEL DEPARTAMENTO DE SERVICIOS ESCOLARES T.V  </h2>
        <p id="controlescolar"><strong>Nombre:</strong> PAMELA VIRIDIANA ROBLEDO SAMANO</p>
        <p><strong>Correo:</strong> pamelaviridiana.robledo.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4491815589</p>
        
    </div>
</div>
<br>
<div class="div-lado-a-lado"></div>
<h6>CONTROL ESCOLAR</h6>

<div class="card">
    <div class="card-body">
        <h2 class="h2">JEFA DE LA OFICINA DE CONTROL ESCOLAR T.V</h2>
        <p><strong>Nombre:</strong> ANGÉLICA COLUNGA SALAZAR</p>
        <p><strong>Correo:</strong> angelica.colunga.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4491520535</p>
        <br>
        <h2 class="h2">RESPONSABLE DE SEGUIMIENTO A GRUPOS 3°L Y 3°I </h2>
        <p><strong>Nombre:</strong>SALINAS HERNANDEZ MARIA VICTORIA</p>
        <p><strong>Correo:</strong> mariavictoria.salinas.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4491900475</p>
        <br>
        <h2 class="h2">RESPONSABLE DE SEGUIMIENTO A GRUPOS 3°A y 3°D </h2>
        <p><strong>Nombre:</strong> CAMPOS GALVAN ANTONIO </p>
        <p><strong>Correo:</strong> antonio.campos.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4491079113</p>
        <br>
        <h2 class="h2">RESPONSABLE DE SEGUIMIENTO A GRUPOS 1°G Y 1°H</h2>
        <p><strong>Nombre:</strong> HERNANDEZ JIMENEZ LUIS MIGUEL</p>
        <p><strong>Correo:</strong> luismiguel.hernandez.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4491158765</p>
        <br>
        <h2 class="h2">RESPONSABLE DE SEGUIMIENTO A GRUPOS 1°A Y 1°B</h2>
        <p><strong>Nombre:</strong>ARVIZU SOLORZANO JORGE LUIS</p>
        <p><strong>Correo:</strong> jorgeluis.arvizu.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4491900475</p>
        <br>
        <h2 class="h2">RESPONSABLE DE SEGUIMIENTO A GRUPOS 5°G Y 5°H</h2>
        <p><strong>Nombre:</strong> MARQUEZ PIÑA MARIA CONCEPCION </p>
        <p><strong>Correo:</strong> mariaconcepcion.marquez.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4491081254</p>
        <br>
        <h2 class="h2">RESPONSABLE DE SEGUIMIENTO A GRUPOS 5°E Y 5°F</h2>
        <p id="orientacioneducativa"><strong>Nombre:</strong> ORNELAS URZUA OSCAR EDUARDO</p>
        <p><strong>Correo:</strong> oscareduardo.ornelas.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4494363057</p>
    </div>
</div>
<br>
<div class="div-lado-a-lado"></div>
<h6>ORIENTACION EDUCATIVA</h6>

<div class="card">
    <div class="card-body">
        <h2 class="h2">ORIENTADORA EDUCATIVA T.M. </h2>
        <p><strong>Nombre:</strong> GUERRERO RAMOS MARTHA GIANINA </p>
        <p><strong>Correo:</strong> marthagianina.guerrero.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4498046835</p>
        <br>
        <h2 class="h2">PSICÓLOGA T.V.</h2>
        <p><strong>Nombre:</strong>MONTOYA URZUA SANDRA LETICIA</p>
        <p><strong>Correo:</strong> sandraleticias.montoya.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4491982731</p>
        <br>
        <h2 class="h2">RESPONSABLE DEL PROGRAMA DE BECAS </h2>
        <p><strong>Nombre:</strong>GARCIA DE LA PEÑA MONICA DEL SOCORRO </p>
        <p><strong>Correo:</strong> monicadelsocorro.garcia.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4492770363</p>
        <br>
        <h2 class="h2">TRABAJADORA SOCIAL T.V</h2>
        <p><strong>Nombre:</strong> HERNANDEZ JIMENEZ LUIS MIGUEL</p>
        <p><strong>Correo:</strong> luismiguel.hernandez.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4491158765</p>
        <br>
        <h2 class="h2">RESPONSABLE DE SEGUIMIENTO A GRUPOS 1°A Y 1°B</h2>
        <p><strong>Nombre:</strong>ARVIZU SOLORZANO JORGE LUIS</p>
        <p><strong>Correo:</strong> jorgeluis.arvizu.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4491900475</p>
        <br>
        <h2 class="h2">ENFERMERA T.M</h2>
        <p><strong>Nombre:</strong> ZACARIAS MENDICOA CAROL BERENICE </p>
        <p><strong>Correo:</strong> carolberenice.zacarias.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4491988390</p>
        <br>
        <h2 class="h2">ENFERMERA T.V</h2>
        <p id="trabajosocial"><strong>Nombre:</strong> ARAUJO VERA KAREN DANIELA</p>
        <p><strong>Correo:</strong> karendaniela.araujo.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4493379047</p>
    </div>
</div>

<br>
<div class="div-lado-a-lado"></div>
<h6>TRABAJO SOCIAL</h6>

<div class="card">
    <div class="card-body">
        <h2 class="h2">ENCARGADA DE SERVICIO SOCIAL Y PRÁCTICAS T.V.</h2>
        <p id="vinculacion"><strong>Nombre:</strong> JAUREGUI BECERRA MARIA LETICIA </p>
        <p><strong>Correo:</strong> marialeticia.jauregui.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4492573536</p>
        
    </div>
</div>
<br>
<div class="div-lado-a-lado"></div>
<h6>VINCULACION</h6>

<div class="card">
    <div class="card-body">
        <h2 class="h2">JEFE DEL DEPARTAMENTO DE VICULACION CON EL SECTOR
            PRODUCTIVO T.V. </h2>
        <p><strong>Nombre:</strong> CARLOS ALBERTO ACEVEDO SÁNCHEZ</p>
        <p><strong>Correo:</strong> carlosalberto.acevedo.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4491967855</p>
        <br>
        <h2 class="h2">RESPONSABLE DE LA OFICINA DE APOYO Y DESARROLLO DE
            ESTUDIANTES Y EGRESADOS CON APOYO A VINCULACIÓN T.V</h2>
        <p><strong>Nombre:</strong>HERNÁNDEZ MORAN MARIA ALICIA</p>
        <p><strong>Correo:</strong> mariaalicia.hernandez.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4491389126</p>
        <br>
        <h2 class="h2">ENCARGADA DE SERVICIO SOCIAL Y PRÁCTICAS T.M</h2>
        <p id="serviciosadministrativos"><strong>Nombre:</strong>LUEVANO FIGUEROA SAN JUANA MARTINA</p>
        <p><strong>Correo:</strong> juanamartina.luevano.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4494521516</p>
        
    </div>
</div>
<br>
<div class="div-lado-a-lado"></div>
<h6>SERVICIOS ADMINISTRATIVOS</h6>

<div class="card">
    <div class="card-body">
        <h2 class="h2">JEFE DEL DEPARTAMENTO DE SERVICIOS
            ADMINISTRATIVOS</h2>
        <p><strong>Nombre:</strong> PALACIO IBARROLA SERGIO LUIS</p>
        <p><strong>Correo:</strong> sergioluis.palacio.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4491967855</p>
        <br>
        <h2 class="h2">JEFA DE LA OFICINA DE PERSONAL</h2>
        <p id="prefectura"><strong>Nombre:</strong>MONDRAGON LOPEZ CAELI</p>
        <p><strong>Correo:</strong> caeli.mondragon.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4491920088</p>
        
    </div>
</div>
<br>
<div class="div-lado-a-lado"></div>
<h6>PREFECTURA</h6>

<div class="card" >
    <div class="card-body">
        <h2 class="h2">PREFECTO T.M</h2>
        <p><strong>Nombre:</strong>MIRANDA GONZALEZ MANUEL</p>
        <p><strong>Correo:</strong> manuel.miranda.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 44915299976</p>
        <br>
        <h2 class="h2">PREFECTO T.M</h2>
        <p><strong>Nombre:</strong>DIAZ LUNA RAMÓN </p>
        <p><strong>Correo:</strong> ramon.dias.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4492034338</p>
        <br>
        <h2 class="h2">PREFECTO T.V</h2>
        <p><strong>Nombre:</strong>ARGUELLES ACOSTA EMERSON</p>
        <p><strong>Correo:</strong> emerson.arguelles.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4494970746</p>
        <br>
        <h2 class="h2">PREFECTO T.V</h2>
        <p id="recursosfinancieros"><strong>Nombre:</strong>GARCÍA GÓMEZ JOSÉ DE JESÚS</p>
        <p><strong>Correo:</strong> josedejesus.garcia.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4491730616</p>
        
    </div>
</div>
<br>
<div class="div-lado-a-lado"></div>
<h6>RECURSOS FINANCIEROS</h6>

<div class="card" >
    <div class="card-body">
        <h2 class="h2">JEFA DE LA OFICINA DE RECURSOS FINANCIEROS T.V</h2>
        <p><strong>Nombre:</strong>GARCÍA GÓMEZ JIMENA</p>
        <p><strong>Correo:</strong> jimena.garcia.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4495524292</p>
        <br>
        <h2 class="h2">AUXILIAR DE CONTABILIDAD DE RECURSOS FINANCIEROS T.M.</h2>
        <p><strong>Nombre:</strong>CASTAÑEDA RODRIGUEZ MONICA</p>
        <p><strong>Correo:</strong> monica.castaneda.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4492034338</p>
        <br>
        <h2 class="h2">PREFECTO T.V</h2>
        <p><strong>Nombre:</strong>ARGUELLES ACOSTA EMERSON</p>
        <p><strong>Correo:</strong> emerson.arguelles.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4494970746</p>
        <br>
        <h2 class="h2">PREFECTO T.V</h2>
        <p id="recursosmateriales"><strong>Nombre:</strong>GARCÍA GÓMEZ JOSÉ DE JESÚS</p>
        <p><strong>Correo:</strong> monica.castaneda.ce155@uemstis.sems.gob.mx </p>
        <p><strong>Teléfono:</strong> 4491739967</p>
        
    </div>
</div>
<br>
<div class="div-lado-a-lado"></div>
<h6>RECURSOS MATERIALES</h6>

<div class="card">
    <div class="card-body">
        <h2 class="h2">JEFE DE LA OFICINA DE RECURSOS MATERIALES
            Y SERVICIOS GENERALES</h2>
        <p><strong>Nombre:</strong>RAMOS GUARDIOLA ILDE FONSO</p>
        <p><strong>Correo:</strong> ildealfonso.ramos.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4492614085</p>
        <br>
        <h2 class="h2">ENCARGADA DEL PROGRAMA DE ACTIVO FIJO</h2>
        <p><strong>Nombre:</strong>SANTOS LOPEZ OGLA ROSENDA</p>
        <p><strong>Correo:</strong> oglaresenda.santos.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4495686332</p>
        <br>
        <h2 class="h2">ALMACENISTA Y AUXILIAR DE RECURSOS FINANCIEROS T.M. </h2>
        <p><strong>Nombre:</strong>FERNANDEZ CHAVARRÍA VANESSA</p>
        <p><strong>Correo:</strong> vanessa.fernandez.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4492051241</p>
        <br>
        <h2 class="h2">AUXILIAR DE MANTENIMIENTO T.M.</h2>
        <p id="planificacion"><strong>Nombre:</strong>FELIPE GARCÍA CARDONA</p>
        <p><strong>Correo:</strong> felipe.garcia.ce155@dgeti.sems.gob.mx </p>
        <p><strong>Teléfono:</strong> 4651133582</p>
        
    </div>
</div>
<br>
<div class="div-lado-a-lado"></div>
<h6>PLANIFICACION</h6>

<div class="card" >
    <div class="card-body">
        <h2 class="h2">JEFA DEL DEPARTAMENTO DE PLANEACIÓN Y EVALUACIÓN</h2>
        <p><strong>Nombre:</strong>CAMPOS MÁRQUEZ JANETTE DEL ROSARIO</p>
        <p><strong>Correo:</strong> janettedelrosario.campos.ce155@dgeti.sems.gob.mx</p>
        <p><strong>Teléfono:</strong> 4492332382</p>
        
        
    </div>
</div>


    <script>
        var menuBtn = document.querySelector('.menu-btn');
        var menu = document.querySelector('.menu');
    
        // Abrir o cerrar el menú al hacer clic en el botón
        menuBtn.addEventListener('click', function(event) {
          menu.classList.toggle('active');
          event.stopPropagation(); // Evitar que el clic se propague al documento
        });
    
        // Cerrar el menú al hacer clic en cualquier parte del documento
        document.addEventListener('click', function() {
          menu.classList.remove('active');
        });
      </script>



{% endif %}


{% endblock %}