{% extends "layouts/layoutapp.html" %}

{% block title %}
INICIO
{% endblock %}
{% block style %}
.ccontainer {
    background-color: #ffffff; /* White */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.h1 {
    color: #4169e1; /* RoyalBlue */
}

.ccontainer ul {
    list-style-type: none;
    padding: 0;
}

.ccontainer li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #add8e6; /* LightBlue */
    border-radius: 5px;
}


{% endblock %}

{% block content %}
<div class="ccontainer">
    <h1 class="h1">Directorio de Acuerdos con Instituciones y Empresas 2023</h1>
    <ul>
        

Institución.

<li>Instituto Maxicano del seguro social, Clinica No. 1</li>

<li>Instituto Municipal de la Juventud de Ags</li>

<li>Instituto Mexicano del Seguro Social, Clinica No. 12</li>

<li>Instituto del deporte</li>

<li>Secundaria general No.7</li>

<li>Municipio de Aguascalientes Organo Interno de Control</li>

<li>Primaria Ramón G. Bonfil</li>

<li>Patronato de la Feria Nacional de San Marcos</li>

<li>Comisión Nacional de las Zonas Áridas</li>

<li>Escuela Primaria Jesus María Romo Romo</li>

<li>H. Congreso del Estado de Ags.</li>

<li>Escuela secundaria general No.8 Ramón López Velarde</li>

<li>Escuela Primaria Mariano Jimenez</li>

<li>Primaria Rodolfo Landeros Gallegos</li>

<li>H. Ayuntamiento Municipio de Aguascalientes Dirección de Capital Humano</li>

<li>Instituto cultural de Aguascalientes</li>

<li>Instituto Municipal Aguascalentese para la cultura</li>

<li>Secretaria de seguridad pública</li>

<li>Municipio de Aguascalientes regidor Mirna Medina Ruvalcaba</li>

<li>Conalep H. Ayuntamiento de Ags. Delegación urbana "Morelos"</li>

<li>H. Congreso del estado de Ags./ Diputado Salvador Maximiliano Ramírez Hernandez Universidad Tecnológica de Aguascalientes.</li>

<li>Instituto de transaparencia del estado de Ags. Instituto Aguascalentense de las mujeres</li>

<li>Dirección de limpia y aseo público IEP No. 26 Dolores Jimenez y Muro Instituto registral y catastral Escuela Primaria Alberto J. Pani</li>
    </ul>
</div>
{% endblock %}