<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="106989237730851487847">

        <!--=============== BOXICONS ===============-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="app.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
        <style>{% block style %}{% endblock %}</style>
        <title>EduLife</title>
    </head>
    <body class="hidden">
        <!--=============== PANTALLA DE CARGA ===============-->
        <div class='centra' id="onload"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
        

        <!--=============== HEADER ===============-->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="/config" class="nav__logo"><img  onclick="handleClick()"onmouseup="stopRedirect()" class='log' src="https://i.ibb.co/LvSSpTX/eDULIFE.png" alt="eDULIFE" border="0"></a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/" class="nav__link active-link">
                                <i class='bx bx-home-alt nav__icon'></i>
                                <span class="nav__name">Home</span>
                            </a>
                        </li>
                        
                        <li class="nav__item">
                            <a href="/funciones" class="nav__link">
                                <i class='bx bx-dots-horizontal-rounded nav__icon'></i>
                                <span class="nav__name">Funciones</span>
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="/planteles" class="nav__link">
                                <i class='bx bxs-school nav__icon'></i>
                                <span class="nav__name">Plantel</span>
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="/noticias" class="nav__link">
                                <i class='bx bx-news nav__icon'></i>
                                <span class="nav__name">Noticias</span>
                            </a>
                        </li>
                        
                            
                        <li class="nav__item">
                            <a href="/config" class="nav__link">
                                <i class='bx bx-cog nav__icon'></i>
                                <span class="nav__name">Configuracion</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <img src="{{parametros['picture']}}" class="nav__img">
            </nav>
        </header>

        <main>
            <!--=============== CONTENIDO ===============-->
            <section class="container section section__height" id="home">
                {% block content %}
                {% endblock %}	

                <div id="miDiv"></div>

            </section>

            
        </main>
        

        <!--=============== MAIN JS ===============-->
        <script src="main.js"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script>
            // Obtener la ruta actual desde el lado del cliente usando JavaScript
            var currentDirectory = window.location.pathname;
            console.log("Directorio Actual: " + currentDirectory);
        </script>

        <script>
            function onSignIn(googleUser){
              var profile = googleUser.getBasicProfile();
              console.log('ID: '+profile.getID());
              console.log('Nombre: '+profile.getName());
              console.log('Email: '+profile.getEmail());
            }
          </script>

          <script>
    
            window.onload=function(){
        
              $('#onload').fadeOut();
              $('body').removeClass('hidden');
        
              Push.Permission.request();
            }
          </script>
          <script src="https://code.jquery.com/jquery-3.7.1.min.js">  </script>
        
        
          <script>
            function handleClick() {
                // Variable para llevar la cuenta de los clics
                var contador = parseInt(localStorage.getItem('clics')) || 0;
    
                // Incrementa el contador
                contador++;
    
                // Guarda el nuevo valor en el almacenamiento local
                localStorage.setItem('clics', contador);
    
                // Verifica si se ha alcanzado el número deseado de clics (en este caso, 5)
                if (contador === 5) {
                    // Redirige a la página deseada
                    window.location.href = '/a';
                    contador=0;
                }
            }
            
        </script>
    </body>
</html>