
@media (max-width: 768px) {
    html{
        box-sizing: border-box;
        font-size: 62.5%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    *,
    *::after,
    *::before{
        margin: 0; 
        padding: 0;
        font-family: inherit;
        box-sizing: inherit;
    }
    
    .intro {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: #004380;
        transition: 1s;
    }
    
    .intro img {
        top: 30%;
        position: absolute;
        
    }
    
    .intro p{
        color: rgb(0, 0, 0);
        font-size: 1.6rem;
        margin-top: 10px;
    }
    
    .logo {
        font-size: 2.5rem;
        color: #ffffff;
    }
    
    .logo-parts {
        position: relative;
        display: inline-block;
        bottom: -20px;
        opacity: 0;
    }
    
    .logo-parts.active {
        bottom: 0;
        opacity: 1;
        transition: ease-in-out 0.5s;
    }
    
    .logo-parts.fade {
        bottom: 250px;
        opacity: 0;
        transition: ease-in-out 0.5s;
    }
    
    .content{
        width: 100%;
        padding: 50px;
        font-size: 2rem;
    }
    
      
  }
html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

*,
*::after,
*::before{
    margin: 0; 
    padding: 0;
    font-family: inherit;
    box-sizing: inherit;
}

.intro {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #004380;
    transition: 1s;
}
.intro img {
    display: block; /* Hace que la imagen sea un bloque para aplicar margen automático */
    margin: 0 auto; /* Centra horizontalmente */
    top: 80; /* Asegúrate de agregar unidades, por ejemplo: 80px */
    width: 20%;
    height: auto;
    margin-bottom: 20px;
  }
  

.intro p{
    color: rgb(0, 0, 0);
    font-size: 1.6rem;
    margin-top: 10px;
}

.logo {
    font-size: 2.5rem;
    color: #ffffff;
}

.logo-parts {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo-parts.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo-parts.fade {
    bottom: 250px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.content{
    width: 100%;
    padding: 50px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra verticalmente los elementos hijos */
    justify-content: center;
}

.container {

    align-items: center; /* Centra verticalmente los elementos hijos */
    justify-content: center;
  }
  
  img {
    max-width: 100%; /* Asegura que la imagen no sobrepase el ancho del contenedor */
    height: auto;    /* Hace que la altura se ajuste automáticamente manteniendo la proporción */
  }









  button {
    max-width: 320px;
    display: flex;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    gap: 0.75rem;
    color: rgb(65, 63, 63);
    background-color: #fff;
    cursor: pointer;
    transition: all .6s ease;
  }
  
  .button svg {
    height: 24px;
  }
  
  button:hover {
    transform: scale(1.02);
  }










  .playstore-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 9999px;
    background-color: rgba(0, 0, 0, 1);
    padding: 0.625rem 1.5rem;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    outline: 0;
    transition: all  .2s ease;
    text-decoration: none;
  }
  
  .playstore-button:hover {
    background-color: transparent;
    color: rgba(0, 0, 0, 1);
  }
  
  .icon {
    height: 1.5rem;
    width: 1.5rem;
  }
  
  .texts {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
  }
  
  .text-1 {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
  }
  
  .text-2 {
    font-weight: 600;
  }
